<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulario de Datos</title>
    <!-- Enlace a Bootstrap CSS (asegúrate de tener conexión a Internet) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
          header {
            background-color: #007bff; /* Color azul */
            
            text-align: center;
            color: #fff; /* Color blanco para el texto */
            padding: 20px 0;
        }
        body {
            background-color: #f8f9fa; /* Color de fondo gris claro */
            /* padding: 20px; */
        }

      


        .card {
            max-width: 60%; /* Ancho máximo de la tarjeta */
            margin: auto;
          
           
        }

        .card-body{
         
            padding-left: 15%; 
           
        
        }

       
        .card-header {
            background-color: #343a40; 
            color: #fff; /* Color blanco para el texto del encabezado */
            text-align: center;
           
        }

        

        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
  
        <header>
            <h2>Servicio: Predicción de Suscripción a Depósito a Plazo Fijo</h2>
        </header>
        
 <br>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Formulario de Datos del Cliente</h5>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'nueva_prediccion' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="edad" class="col-sm-4 col-form-label">Edad:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="edad" name="edad" min="18" max="100" required oninput="validarInputNumerico(this,18,100,'Porfavor ingrese valores entre 18 y 100')">
                    <div class="text-danger"> <span class="error-message"></span></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="trabajo" class="col-sm-4 col-form-label">Trabajo:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="trabajo" name="trabajo" required>
                         <option value="management">Administración</option>
                         <option value="self-employed">Autónomo</option>
                         <option value="admin.">Gerente</option>
                         <option value="entrepreneur">Emprendedor</option>
                         <option value="blue-collar">Obrero</option>
                         <option value="services">Servicios</option>
                         <option value="housemaid">Ama de casa</option>
                         <option value="retired">Retirado</option>
                         <option value="technician">Técnico</option>
                         <option value="unemployed">Desempleado</option>
                        <option value="student">Estudiante</option>
                         <option value="unkonwn">Desconocido</option>


                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="estadocivil" class="col-sm-4 col-form-label">Estado Civil:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="estadocivil" name="estadocivil" required>
                         <option value="single">Soltero</option>
                         <option value="married">Casado</option>
                         <option value="divorced">Divorciado</option>


                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="educacion" class="col-sm-4 col-form-label">Educacion:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="educacion" name="educacion" required>
                         <option value="primary">Primaria</option>
                         <option value="secondary">Secundaria</option>
                         <option value="tertiary">Tercer nivel</option>
                        <option value="unknown"> Desconocido</option>


                    </select>
                </div>
            </div>

             <div class="form-group row">
                <label for="saldo" class="col-sm-4 col-form-label">Saldo:</label>
                <div class="col-sm-6">

                    <input type="number" class="form-control" id="saldo" name="saldo" min="-10000" max="99999999999" required oninput="validarInputNumerico(this,-10000,999999,'Porfavor ingrese valores entre -10000 y 999999')">
                    <div class="text-danger"> <span class="error-message"></span></div>
                </div>
                </div>


             <div class="form-group row">
                <label for="hipoteca" id="hipoteca" class="col-sm-4 col-form-label">Hipoteca:</label>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="hipoteca" id="hipotecaSi" value="1">
                        <label class="form-check-label" for="hipotecaSi"  style="font-weight: normal;">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="hipoteca" id="hipotecaNo" value="0">
                        <label class="form-check-label" for="hipotecaNo"  style="font-weight: normal;">No</label>
                    </div>
                </div>
            </div>

             <div class="form-group row">
                <label for="prestamo" id="prestamo" class="col-sm-4 col-form-label">Prestamo:</label>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="prestamo" id="prestamoSi" value="1">
                        <label class="form-check-label" for="prestamoSi"  style="font-weight: normal;">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="prestamo" id="prestamoNo" value="0">
                        <label class="form-check-label" for="prestamoNo"  style="font-weight: normal;">No</label>
                    </div>
                </div>
            </div>

             <div class="form-group row">
                <label for="contacto" class="col-sm-4 col-form-label">Tipo Contacto:</label>
                <div class="col-sm-6">
                    <select class="form-control" id="contacto" name="contacto" required>
                         <option value="telephone">telefono</option>
                         <option value="cellular">celular</option>

                        <option value="unknown"> Desconocido</option>


                    </select>
                </div>
            </div>


              <div class="form-group row">
                <label for="duracion" class="col-sm-4 col-form-label">Duracion llamada (segundos):</label>
                <div class="col-sm-6">

                    <input type="number" class="form-control" id="duracion" name="saldo" min="0" max="9999" required oninput="validarInputNumerico(this,0,9999,'Porfavor ingrese valores entre 0 y 9999')">
                    <div class="text-danger"> <span class="error-message"></span></div>
                </div>
                </div>


             
                <div class="form-group row">
                    <label for="campaign" class="col-sm-4 col-form-label">Numero de contactos realizados:</label>
                    <div class="col-sm-6">
    
                        <input type="number" class="form-control" id="campaign" name="campaign" min="0" max="99999" required oninput="validarInputNumerico(this,0,9999,'Porfavor ingrese valores entre 0 y 9999')">
                        <div class="text-danger"> <span class="error-message"></span></div>
                       
                    </div>
                    </div>   


                    <div class="form-group row">
                        <label for="modelo" class="col-sm-4 col-form-label">Modelo de predicción:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="modelo" name="modelo" required>
                                 <option value="red_neuronal">Red Neuronal</option>
                                 <option value="naive_bayes">Naive Bayes</option>

                            </select>
                        </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-5 offset-sm-0">
                    <button type="submit" class="btn btn-primary">Predecir</button>
                </div>
            </div>

        


        </form>
    </div>
</div>

<!--&lt;!&ndash; Enlace a Bootstrap JS y jQuery (opcional) &ndash;&gt;-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function validarInputNumerico(input, min, max, mensajeError) {
    var valor = input.value;
    var errorMensaje = input.parentElement.querySelector('.error-message');

    if (isNaN(valor) || valor % 1 !== 0 || valor < min || valor > max) {
        errorMensaje.textContent = mensajeError;
        input.setCustomValidity('Invalid');
    } else {
        errorMensaje.textContent = '';
        input.setCustomValidity('');
    }
}
    </script>
</body>
</html>
