{% extends 'base.html' %}

{% block title %}Reporte de Suscripciones{% endblock %}

{% block content %}
   
    <div class="container mt-4">
        <div class="card">
          <div class="card-header card-header-dark">
           <h4>Resultados de la Predicción</h4>
          </div>
          <div class="card-body">
          
            <p>El cliente <b>{{ datos.1 }}</b> el Servicio de Depósito a plazo fijo</p>
    
    
            <!-- Tabla para mostrar los resultados -->
                   <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Predicción</th>
                        <th>Resultado</th>
                        <th>Certeza</th>
                        <th>Modelo Predicción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for resultado in datos %}
                            <td>{{ resultado }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
    
          
    
    
          </div>
        </div>
    
        
    
      </div>

{% endblock %}
